.card{
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
/* .carousel{
    margin-top: 20px;
    margin: 30px;
    height: 20rem;
    width: 70%;
    margin-left: 27%;
    background-color: rgb(42, 39, 39);
} */
.header{
    margin-top: 3%;
    margin-left: 20px;
    margin-right: 20px;
    background-image: linear-gradient(to top right, #e6a036, rgb(241, 232, 149));
}
img{
    height: 400px !important;
}
.carousel-caption{
    color: black;
    font-weight: bold;
}
.d{
    margin-right: 30px;
}